
main{
    background-color: white;
}
main .container{
    background-color: var(--light-gray);
    width: 40%;
    padding: 20%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

main .container div {
    padding: 10px;
    font-family: Roboto;
    border: none;
    border-radius: 10px;
}

main .container .send input {
    background-color: var(--light-blue);
    color: white;
    border-radius: 5px;
    padding: 5px 40px;
}

main .container .send input:hover {
    background-color: var(--purple);
}

footer{
    background-color: white;
}

@media (max-width: 361px){
    main .container{
        width: 100%;
        
    }
}

@media (min-width: 361px) and (max-width: 769px){
    main .container{
        width: 80%;
        
    }
}

@media (min-width: 769px) {

}